/*-------------- SNOTIFICATIONBAR STYLE --------------------------------------*/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } 
.clearfix { display: inline-block; }  
html[xmlns] .clearfix { display: block; }  
* html .clearfix { height: 1%; }  
/*------------SNBAR DISPALY AREA----------------------*/
#snbar_showfront .snbar_Social{ display: inline; overflow: hidden; float: left; margin-right: 10px; position: relative; top: 3px; width: auto;}
#snbar_showfront .snbar_Social a div{ margin:0 2px; }
.snbar_section  .snbar_Social div.fbicon{ background-image:url("../../images/fb.png"); background-repeat: no-repeat;width:29px; height:29px; float:left; padding-right: 2px;}
.snbar_section  .snbar_Social div.fbicon:hover{ background-image:url("../../images/facebook.png");background-repeat: no-repeat;width:29px;height:29px;float:left;padding-right: 2px;}
.snbar_section  .snbar_Social div.tweeticon{ background-image:url("../../images/tweet.png"); 	background-repeat: no-repeat;width:29px;height:29px;float:left;padding-right: 2px;}
.snbar_section  .snbar_Social div.tweeticon:hover{ background-image:url("../../images/twitter.png"); 	background-repeat: no-repeat;width:29px;height:29px;float:left;padding-right: 2px;}
.snbar_section  .snbar_Social div.rssicon{ background-image:url("../../images/rs.png"); 	background-repeat: no-repeat;width:29px;height:29px;float:left;padding-right: 2px;}
.snbar_section  .snbar_Social div.rssicon:hover{ background-image:url("../../images/srss.png"); 	background-repeat: no-repeat;width:29px;height:29px;float:left;padding-right: 2px;}
.snbar_section  .snbar_Social div.gogleicon{ background-image:url("../../images/gogle.png"); 	background-repeat: no-repeat;width:29px;height:29px;float:left;padding-right: 2px;}
.snbar_section  .snbar_Social div.gogleicon:hover{ background-image:url("../../images/sgooglepluse.png"); 	background-repeat: no-repeat;width:29px;height:29px;float:left;padding-right: 2px;}
.snbar_section  .snbar_Social div.linkicon{ background-image:url("../../images/link.png"); 	background-repeat: no-repeat;width:29px;height:29px;float:left;padding-right: 2px;}
.snbar_section  .snbar_Social div.linkicon:hover{ background-image:url("../../images/linkedin.png"); 	background-repeat: no-repeat;width:29px;height:29px;float:left;padding-right: 2px;}
.snbar_section  .snbar_Social div.fblikeicon{ float: left;height: 25px;padding-right: 3px;position: relative;top: 5px;width: 73px;}
.snbar_section .snbar_content{ display: inline;float: left;font-family: verdana;font-size: 12px;margin-right: 10px;position: relative;text-align: justify;width: auto;top: 7px; 	color: #000000;line-height:20px;}
.snbar_section  .snbar_logo{ display:inline;float:left;margin-right:10px;height:32px;margin-top:1px;}
.snbar_section  .snbar_logo img{ border: 1px solid #000000;height: 30px;width: 100px;}
.snbar_section  .snbar_srch{ height:auto;  line-height: 30px;display:inline;float:left;margin-right:10px;margin-top:1px;}
.snbar_section  .snbar_cancel{ float: right; height: 24px; margin-top: -12px; position: absolute; right: 10px; top: 50%; width: 24px;} 	
.snbar_section  .snbar_cancel.sbar_full{ right:30px;} 	

.snbar_section  .snbar_cancel #hide_bar_btn{ background-image:url("../../images/snbar_cancel.png"); 	background-repeat: no-repeat;width:24px;height:24px;border:0px;font-size:0px;display:block;}
.snbar_section  .snbar_srch #searchform input#s.field{ background-color:#D0D8DD; 	color:black; }
.snbar_section  .front_hide_row{ display:none; }
.snbar_section  .snbar_scroll_btn { background-image: url("../../images/snbar_top_Scroll.png");background-repeat: no-repeat; cursor: pointer; float: left; height: 20px;  margin-left: 6px; margin-top: 7px; position: relative; top: 0; width: 17px;} 
.snbar_section  .snbar_srch #searchform label {	display:none !important; }

/*-- Front Navigation --
--------------------------------- */
.snbar_content .snbar_content div.snbar-menu,
.menu-container,.menu-testing-container{ display: block;float: left;margin-left: auto;margin-right: auto;width: auto;}
.snbar_content .snbar-menu,.menu-testing-container .menu-header,div.menu {font-size: 13px;margin-left: 12px;width: auto;}
.snbar_content .menu ul{ list-style: none;list-style-type:none;margin: 0;}
.snbar_content .snbar-menu ul,
.menu-testing-container  ul { list-style: none;list-style-type:none;margin: 0;}
.snbar_content .snbar-menu ul .menu li,
.snbar_content .menu-testing-container .menu-header li,.menu li {float: left;position: relative;}
.snbar_content .snbar-menu  a{color: #FFFFFF;display: block;line-height: 21px;padding: 0 10px;text-decoration: none; 	text-transform: capitalize;}
.snbar_content .menu-testing-container a {color: #FFFFFF; display: block; line-height: 22px; padding: 0 10px; text-decoration: none;}
.snbar_content .snbar-menu ul .menu li a{ color: #FFFFFF; display: block; line-height: 22px; padding: 0 10px; text-decoration: none;}
.snbar_content .snbar-menu ul ul{ display:none;float: left;left: 0;padding-top: 20px; 	position: absolute;top: 15px;width: 180px;z-index: 99999;}
.snbar_content .snbar-menu ul ul ul{padding-top:0; }
.snbar_content .menu-testing-container ul ul {display: none;position: absolute;top: 20px;left: 0;float: left;width: 180px;z-index: 99999;padding-top: 16px; }
.snbar_content .snbar-menu ul ul li,
.snbar_content .menu-testing-container ul ul li {min-width: 180px; }
.snbar_content .snbar-menu ul ul ul ,
.snbar_content .menu-testing-container ul ul ul {left: 100%;top: 0; }
.snbar_content .snbar-menu ul ul a,
.snbar_content .menu-testing-container ul ul a {line-height: 1em;padding: 11px 10px;width: 160px;height: auto; }
.snbar_content .snbar-menu li:hover > a,
.snbar_content .snbar-menu ul ul :hover > a,
.snbar_content .menu-testing-container li:hover > a,
.snbar_content .menu-testing-container ul ul :hover > a {color: #fff; }
.snbar_content .snbar-menu ul li:hover > ul,
.snbar_content .menu-testing-container ul li:hover > ul {display:block; }
.snbar_content .snbar-menu ul li .current-menu-item > a,
.snbar_content .snbar-menu ul li .current_page_item > a,
.snbar_content .snbar-menu ul li .current-menu-ancestor > a,
.snbar_content .snbar-menu ul li .current-menu-parent > a {color: #fff; }
.snbar_content .menu-testing-container ul li.current_page_item > a,
.snbar_content .menu-testing-container ul li.current-menu-ancestor > a,
.snbar_content .menu-testing-container ul li.current-menu-item > a,
.snbar_content .menu-testing-container ul li.current-menu-parent > a {color: #fff; }
* html .menu-testing-container ul li.current_page_item a,
* html .menu-testing-container ul li.current-menu-ancestor a,
* html .menu-testing-container ul li.current-menu-item a,
* html .menu-testing-container ul li.current-menu-parent a,
* html .menu-testing-container ul li a:hover {color: #fff; }
* html .snbar_content  .snbar-menu ul li .current_page_item a,
* html .snbar_content  .snbar-menu ul li .current-menu-ancestor a,
* html  .snbar_content .snbar-menu ul li .current-menu-item a,
* html  .snbar_content .snbar-menu ul li .current-menu-parent a,
* html  .snbar_content .snbar-menu ul li a:hover {color: #fff; }
* html .snbar_content .snbar_content ul li .current_page_item a,
* html .snbar_content .snbar_content ul li .current-menu-ancestor a,
* html .snbar_content .snbar_content ul li .current-menu-item a,
* html  .snbar_content .snbar_content ul li .current-menu-parent a,
* html  .snbar_content .snbar_content ul li a:hover {color: #fff; }
.snbar_srch input[type="submit"] {position:relative;top:-2px;}
/*------------------------------------------------------------------------------*/