/*-- SNBAR ADMIN AREA -------------------
-----------------------------------------*/
 .clearfix:after { content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
 .clearfix { display: inline-block; }
 html[xmlns] .clearfix {display: block; }
 * html .clearfix { height: 1%; }
 
.snbar_wrapper{ margin: 4px 15px 0 0; }
.snbar_wrapper h2 {font-size: 23px;line-height: 29px;padding: 9px 15px 4px 0; }
#snbar_admin {width:600px;margin-bottom:20px; }
#snbar_admin .snbar_general_section{height:auto;border:1px solid #DFDFDF;margin-bottom:20px; }
#snbar_general_settings .snbar_social{height:auto;border:1px solid #DFDFDF; margin-bottom:20px; }
#snbar_general_settings div.snbar_display{height:auto;border:1px solid #DFDFDF;margin-bottom:20px; }
#snbar_general_settings table.inside tbody tr td:first-child{ width:200px; }
#snbar_admin .snbar_form_msg{ font-size:10px;color:#24417A; }
#snbar_general_settings table.inside tbody tr td{ padding-bottom:20px; }
#snbar_admin .snbar{ display:none;width:100%!important; }
#snbar_admin .show_row { display:table-row; 	width:100%!important; }
#snbar_admin .hide_row{ display:none; }
#snbar_bar { color:red; }

#snbar_admin .snbar_colwrap { display: inline-block; position: relative; width: 125px; } 
#snbar_admin .snbar_colsel{ background:url("../../images/snbar_color_pick.png"); background-repeat:none; cursor: pointer; height: 26px; margin-top: 1px; position: absolute; right: -10px; top: -2px; width: 26px;} 	
#snbar_admin .snbar_color_scheme .farbtastic,#snbar_admin .snbar_content_color .farbtastic{ display: none; position: absolute; top: -5px; z-index: 1; } 
#snbar_admin .snbar_color_scheme .farbtastic .wheel,#snbar_admin .snbar_content_color .farbtastic .wheel{ z-index:1; }	 
#snbar_admin .snbar_colsel .farbtastic .overlay{ z-index:1; } 
.sbar_iframe{ background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #CCCCCC; border-radius: 3px; left: 610px; padding: 5px; position: absolute; top: 56px; } 
/*------------------------------------------------------------------*/